atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
flask-swagger-ui==3.18.0
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
more-itertools==4.3.0
mysql-connector==2.1.6
pluggy==0.8.0
py==1.7.0
pytest==3.9.1
requests==2.20.0
six==1.11.0
SQLAlchemy==1.2.8
urllib3==1.23
Werkzeug==0.14.1